body, input {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 14px;
}

p,ul {
  margin-bottom: 10px;
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.terminal-history > p:nth-child(1){
  padding-top: 4px;
}

.input-container {
 display: flex;
 align-items: center;
}

.input-container__cursor {
  color: green;
  width: 190px;
  min-width: 190px;
  display: flex;
}

.cursor--location {
  color: white;
  padding-right: 8px;
}

.input-container__input-field {
  width: 100%;
}

input {
  color: white;
  height: 24px;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.multispace-output-text {
  white-space:pre-wrap;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  padding-left: 24px;
}

.ml-4 {
  padding-left: 32px;
}

.ml-5 {
  padding-left: 40px;
}